*.suo
bin
obj
packages
/DALUtils.EF/*.DotSettings
ReleaseBinaries
artifacts
*.DotSettings
*.user
/.idea
*.vspscc
/.vs/CommonLibs/v15/Server/sqlite3/*.lock
/.vs/CommonLibs/v15/Server/sqlite3/*.ide
/.vs/CommonLibs/v15/Server/sqlite3/*.ide-shm
/.vs/CommonLibs/v15/Server/sqlite3/*.ide-wal
